<div class="container" *ngIf="isLogged && accountType == 'Entreprise'" >
  <app-navbar title="Profile Entreprise"></app-navbar>
  <div class="row" style="margin-top: 30px;">


    <div class="col-md-8" *ngIf="showEdit" style=" width: 100%;">
      <div class="card" style="width: 700px; margin-left: 150px ;" >
        <div class="card-header">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Edit Profile -
            <small class="category">Complete your profile</small>
          </h4>
          <div *ngFor="let p of profiledata">
          <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="nom" placeholder="Nom"  value="{{p.nom}}" >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="domaine"  placeholder="Domaine"  value="{{p.domaine}}" >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="adresse"  placeholder="Address" value="{{p.adresse}}">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="email"  placeholder="Address e-mail" value="{{p.email}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="site"  placeholder="Site web" value="{{p.site}}">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" formControlName="telephone"  placeholder="Telephone" value="{{p.telephone}}">
                </mat-form-field>
              </div>
            </div>
           
            <div class="row action-btn">
              <button mat-raised-button style="margin-right: 5px;" type="reset" class="btn btn-light" (click)="toggleEdit()">Annuler</button>
              <button md-raised-button type="submit" class="btn btn-rose">Enregistrer</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4" *ngIf="!showEdit" style=" width: 100%;">
      <div class="card right-profile" style="width: 500px; margin-left: 260px ;">
        <div class="profile">
          <img src="../../../assets/user.png" alt="profile"/>
        </div>
        <h6 style="margin-bottom: -85px;">Les Informations personnel</h6>
        <div class="pinfo" *ngFor="let p of profiledata" >
          <table style="margin-left: 60px;">
            <tr>
              <td class="pinfotd">
        <label>Nom de l'entreprise</label>
        </td>
        <td >
          {{p.nom}}
        </td>
      </tr>
      <tr>
        <td>
        <label>Domaine </label>
      </td>
      <td>
        {{p.domaine}}
      </td>
    </tr>
    <tr>
      <td>
      <label>Site web </label>
    </td>
    <td>
      {{p.site}}
    </td>
  </tr>
    <tr>
      <td>
        <label>Addresse e-mail</label>
      </td>
      <td>
        {{p.email}}
      </td>
      </tr>
      <tr>
        <td>
          <label>Address</label>
        </td>
        <td>
          {{p.adresse}}
        </td>
        </tr>
        <tr>
          <td>
            <label>Télephone</label>
          </td>
          <td>
           {{p.telephone}}
          </td>
          </tr>

      </table>
      </div>
        <button mat-raised-button class="btn btn-rose btn-round" (click)="toggleEdit()">Modifier Profile</button>
      </div>
    </div>
  </div>
</div>
