<div class="container">

  <mat-tab-group [color]="white" [backgroundColor]="red" mat-align-tabs="center">
    <mat-tab label="Modifier Annonce de formation" > 
      <mat-card style="background-color: rgba(255, 255, 255 , 0);">
        

        <div class="card">
          <div class="card-content">
            <form [formGroup]='eformFormation' (ngSubmit)="UpdateOffreFormation(eformFormation.value)">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field color="accent">
                    <input matInput type="text" placeholder="NomDeFormation" formControlName="nom" name="PostedeTravail">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field color="accent">
                    <input matInput type="text" placeholder="DomaineDeFormation" formControlName="domaine"  name="Descriptiondeposte">
                  </mat-form-field>
                </div>
              </div>
                <div class="col-md-12">
                  <mat-form-field color="accent">
                    <input matInput type="text" placeholder="DescriptionDeFormation" formControlName="desc">
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field color="accent">
                      <input matInput type="text" placeholder="NiveauMinimum" formControlName="niveau">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field color="accent">
                    <input matInput type="text" placeholder="DuréedeTravail" formControlName="duree">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field color="accent">
                    <input matInput type="text" placeholder="Prix" formControlName="prix">
                    <span matPrefix>DT &nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row action-btn">
                <button mat-dialog-close mat-raised-button style="margin-right: 5px;"  class="btn btn-light">Annuler</button>
                <button  [disabled]="!eformFormation.valid" md-raised-button type="submit" class="btn btn-rose">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>

        

      </mat-card> 
    </mat-tab>
  </mat-tab-group>
  
</div>