<div *ngIf="!isLogged;">
<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" >
       <div class="card">
         <div class="card-header">
            <h4>S'authentifier</h4>
         </div>
         <form [formGroup]="SigninForm" (ngSubmit)="LoginUser(SigninForm)"  autocomplete="off">
         <div class="card-form">
           <div class="form-row">
             <i class="material-icons">email</i>
             <mat-form-field color="accent">
               <input type="text" formControlName="email" autocomplete="off" matInput placeholder="Addresse email"/>
             </mat-form-field>
           </div>
           <div class="form-row">
             <i class="material-icons">lock_outline</i>
             <mat-form-field color="accent">
               <input type="password" formControlName="pass" autocomplete="off" matInput placeholder="Mot de passe "/>
             </mat-form-field>
           </div>
         
         </div>
         <div class="card-footer">
           <button type="submit" mat-button class="loginbtn"  [disabled]="!SigninForm.valid">S'Authentifier</button>

         </div>
        </form>
       </div>
     </div>
   </div>
  </div>
</div>
</div>