<header>
  <div class="left">
    <img src="../../../assets/logow.png" width="64"/>
  </div>
  <div class="right">
    <a routerLink="/welcome" style="margin-right: 20px" routerLinkActive="router-active"><i class="material-icons">home</i><p>Home</p></a>
    <a routerLink="" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p>LOGIN</p></a>
    <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTER</p></a>
  </div>
</header>
