<div class="container" *ngIf="isLogged && accountType == 'Admin'">
  <app-navbar title="Les Condidats" icon='supervised_user_circle'></app-navbar>
  <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="material-icons">supervised_user_circle</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Gestion des candidats</h4>
        <mat-form-field color="#ff0000" style="width: 95%; margin-top:10px;">
          <input matInput  (keyup)="applyFilter($event)" type="search" placeholder="Search">
        </mat-form-field>
        <button mat-mini-fab class="search-btn" style="background-color: #000000;"><i class="material-icons" style="font-size:18px;">search</i></button>
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary fw-bold" style="color:black;">
              <tr>
                <th>Nom et Prenom</th>
                <th>NCIN</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Telephone</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let c of candidats">
                    <td>{{c.nom}}</td>
                    <td>{{c.cin}}</td>
                    <td>{{c.age}}</td>
                    <td>{{c.adresse}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.telephone}}</td>
                    <td><button class="btn btn-light">LINK TO CV <span class="glyphicon glyphicon-file"></span></button></td>
                    <td><button (click)="deleteCandidat(c.id)" class="btn btn-danger">Supprimer  <span class="glyphicon glyphicon-trash"></span> </button></td>
                    </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
