<div class="container" *ngIf="isLogged && accountType == 'Entreprise'" >
  <app-navbar title="Les Rendez-vous"></app-navbar>
  <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="material-icons">work</i>
      </div>
      <div class="card-content">
        
        <h4 class="card-title">Gestion des Rendez-vous</h4>
        <mat-form-field color="#ff0000" style="width: 95%; margin-top:10px;">
          <input matInput  (keyup)="applyFilter($event)" type="search" placeholder="Search">
        </mat-form-field>
        <button mat-mini-fab class="search-btn" style="background-color: #548cd6;"><i class="material-icons" style="font-size:18px;">search</i></button>
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary fw-bold" style="color:black;">
              <tr>
                <th>Nom Candidat</th>
                <th>NCIN Candidat </th>
                <th>Poste Travail</th>
                <th>Date Rendezvous </th>

                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of rendezvous">
                <td>{{e.NomCandidat}}</td>
                <td>{{e.CinCandidat}}</td>
                <td>{{e.PosteTravail}}</td>
                <td>{{e.date_rdv}}</td>
                <div *ngIf="e.Status == 0">
                  <td><button  class="btn btn-light" (click)="openEnvoyerTest(e.IdCandidat,e.IdRdv)">Envoyer Test<span class="glyphicon glyphicon-ok-circle"></span></button></td>
                  <td><button  class="btn btn-success" (click)="acceptCandidat(e.IdRdv,e.IdCandidat)">Valider  <span class="glyphicon glyphicon-ok-circle"></span></button></td>
                  <td><button class="btn btn-danger" (click)="declineCandidat(e.IdRdv)">Refuser  <span class="glyphicon glyphicon-remove-circle"></span> </button></td>
                </div>
                <div *ngIf="e.Status == 1">
                  <td>Demande refusé.</td>
                <td><button class="btn btn-danger" (click)="deleteRdv(e.IdRdv)">Supprimer  <span class="glyphicon glyphicon-trash"></span> </button></td>
                
              </div>
              <div *ngIf="e.Status == 2">
                <td>Demande Accepté.</td>
              <td><button class="btn btn-danger" (click)="deleteRdv(e.IdRdv)" >Supprimer  <span class="glyphicon glyphicon-trash"></span> </button></td>
              
            </div>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
