<div class="container" *ngIf="isLogged && accountType == 'Admin'"  >
  <app-navbar title="Admin Dashboard" icon='dashboard'></app-navbar>
  <div class="row" style="margin-top: 30px" *ngIf="stats;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{nBannonce}}"
        headerIcon="work"
        category="Les Anonnces"

        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{stats[0]['nbC']}}"
        headerIcon="face"
        category="Condidats"

        linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
      title="{{stats[0]['nbE']}}"
        headerIcon="store"
        category="Entreprise"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
      title="{{stats[0]['nbUsers']}}"
         headerIcon="face"
        category="Users"
        footContent="Total users including admins"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  <!-- SHORTCUTS -->
  <div class="row" style="margin-top: 10px">
    <a href="dashboard/components/travail">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="../../../assets/img/annonce1.jpg"
        title="Travail"
        desc="Acceder à la liste des offres de travail.">
      </app-imagecard>
    </div>
  </a>
  <a href="dashboard/components/stage">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="../../../assets/img/satge.png"
        title="Stages"
        desc="Accéder a la liste des offres de stage.">
      </app-imagecard>
    </div>
    </a>
    <a href="dashboard/components/formation">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-imagecard
        image="../../../assets/img/formation1.jpg"
        title="Formations"
        desc="Accéder a la liste des formations.">
      </app-imagecard>
    </div>
    </a>
  </div>


</div>
<!--

<div class="container" *ngIf="true">
  <div class="verify">
    <table style="width: 100%;">
         <tr>
          <th>Company Name</th>
          <th>Company Description</th>
          <th colspan="2"></th>
         </tr>
         <tr *ngFor="let c of companies">
          <td>{{c.Name}}</td>
          <td>{{c.Description}}</td>
          <td *ngIf="c.Verified == 0">
          <button style="background-color: green;" (click)="verify(c.Name)">Accept</button>
          </td>
            <td *ngIf="c.Verified == 0">
             <button style="background-color: red;" (click)="decline(c.Name)">Decline</button>
            </td>

            <td colspan="2" *ngIf="c.Verified == 1">
                  Company verification done.
            </td>
        </tr>
    </table>
  </div>

  <div class="add">
    <h2>add a company</h2>
    <form [formGroup]='dataForm' (ngSubmit)="PostData(dataForm.value)">
      <label>Name</label>
      <input type="text" name="Name" formControlName="Name"/>
      <label>Description</label>
      <input type="text" name="Description" formControlName="Description"/>
      <input type="submit" value="Add Company"/>
    </form>

  </div>
</div>
-->