<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <br>
    <div style="margin-left: 38%">
    <b style="color:white; font-size: 32px;">Bienvenue à E-Recruit</b>
  </div>

    <p style="text-align: center;">
      eRecruit est un site de recrutement en ligne, <br>
      il permet aux entreprises de trouver plus facilement des candidats, <br>
      il permet également aux candidats de trouver plus facilement un emploi, <br>
      un stage ou une formation.
    </p>
    <hr style="opacity:0.3;">
    <table>
      <tr>
        <td>
  <img src="../../../assets/meeting.svg" width="350"/>
</td>
<td style="width: 300px;">
            <div class="col-8" >
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #6C63FF;">check</i>
                </div>
                <div class="desc">
                  <h4 style="color:white;">Facile à utiliser</h4>
                  <p>Cette application est très facile à utiliser, elle facilite de nombreuses tâches pour nos utilisateurs.</p>
                </div>
              </div>
            </div>
          </td>
          <td>
            <img src="../../../assets/working.svg" width="350"/>
          </td>
          <td>
            <div class="col-8" style="margin-left: 20px;">

              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #6C63FF;">laptop</i>
                </div>
                <div class="desc">
                  <h4 style="color:white;">User-Friendly Interface</h4>
                  <p>Une interface logicielle où l'utilisateur peut facilement comprendre et naviguer dans l'application de manière efficace.</p>
                </div>
              </div>
            </div>
          </td>
          </tr>
          </table>
    
        </div>
</div>

